section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display:flex;
    
}
li {
    list-style: none;
    padding : 20px;
}

.style-link{
    text-decoration:none;
    color:red;
    text-transform: uppercase;
}

.style-link:hover{
    color:black;
    
}

